<h2><%= $game.player2.name %> has lost the game.</h2>
<h3>Please start a new game! Click on the button bellow to start new game!</h3>

<form action="/" method="get">
  <input type='submit' value='Start a new game'>
</form>
