<h1>The Battle Game!</h1>
<h2>Sign in with your names</h2>
<form action="/names" method="post">
  <label for="player_1"> Player number 1
    <input type="text" name="player_1">
  </label>
  <label for="player_2"> Player number 2
    <input type="text" name="player_2">
  </label>
    <input type="submit" value='Submit'>
</form>
